.df {
    display: flex !important;
}
.dif {
    display: inline-flex !important;
}

.fdc {
    flex-direction: column !important;
}

.f1 {
    flex: 1 !important;
    overflow: hidden !important;
}

.jcsb {
    justify-content: space-between !important;
}

.jcc {
    justify-content: center !important;
}

.aic {
    align-items: center !important;
}
