.df {
  display: flex !important;
}
.fdc {
  flex-direction: column !important;
}
.f1 {
  flex: 1 !important;
  overflow: hidden;
}
.aic {
  align-items: center !important;
}
.jcc {
  justify-content: center !important;
}
